@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.embla {
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__container1 {
  backface-visibility: hidden;
  display: flex;
  /* justify-content: flex-start; */
  touch-action: pan-y pinch-zoom;
  margin-left: calc(1rem * -1);
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide1 {
  flex: 0 0 20%;
  min-width: 0;
  padding-left: 3rem;
}

